/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

/* MAIN LAYOUT */
.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #102c48;
  position: relative;
}

/* ================= NAVBAR ================= */

.navbar {
  height: 85px;
  width: 100%;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: #4f46e5;
}

.user-avatar-small {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* ================= MAIN CONTAINER ================= */

.main-container {
  display: flex;
  justify-content: center;
  margin-left: 260px;
  min-height: calc(100vh - 85px);
  padding: 30px;
}

/* ================= SIDEBAR ================= */

.sidebar {
  position: absolute;
  left: 0;
  top: 85px;
  height: calc(100vh - 85px);
  width: 260px;
  background: #1e293b;
  color: white;
  display: grid;
  flex-direction: column;
  padding: 5px 0;
  z-index: 10;
}

/* MENU */

.menu {
  /* flex: 1; */
  padding:  15px 0;
}

.menu-item {
  padding: 12px 15px;
  border-radius: 8px;
  cursor: pointer;
  color: #94a3b8;
  margin-bottom: 5px;
  transition: 0.2s;
}

.menu-item:hover {
  background: rgba(255,255,255,0.08);
  color: #ffffff;
}

.menu-item.active {
  background: #4f46e5;
  color: #ffffff;
}

/* ================= SIDEBAR BOTTOM ================= */

.sidebar-bottom {
  padding: 20px;
  border-top: 1px solid rgba(255,255,255,0.1);
}

/* STUDENT INFO */

.student-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.student-avatar {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.student-details {
  display: flex;
  flex-direction: column;
}

.student-name {
  font-size: 14px;
  font-weight: 600;
}

.student-email {
  font-size: 12px;
  color: #94a3b8;
}

/* LOGOUT BUTTON */

.logout-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(239,68,68,0.1);
  color: #f87171;
  cursor: pointer;
  transition: 0.2s;
}

.logout-btn:hover {
  background: rgba(239,68,68,0.2);
}
/* ================= CONTENT ================= */
.content {
  height: 1700px;
  width: 1200px;
  padding: 30px;
  background: #f8fafc;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.content-header h1 {
  font-size: 26px;
  margin-bottom: 10px;
  color: #1e293b;
}

.content-header p {
  color: #64748b;
  font-size: 14px;
}


