body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

div {
  height: 100vh;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  /* border: 2px solid burlywood; */
}

input {
  background: white;
  padding: 10px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

 h2 {
  margin-bottom: 20px;
}

 input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 112%;
  padding: 10px;
  background: #667eea;
  align-items: center;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

 button:hover {
  background: #5563d1;
}

